.jumbotron {
    background-image: url("https://media0.giphy.com/media/RiQwP7SRR9kZ1WEfES/giphy.gif");
    background-position: top;
}

hr{
    margin-top: 30px;
}

body {
    background-image: linear-gradient(to bottom, #e6ccb2, #9C6644);
}

div {
    border-collapse: collapse;
    margin: 15px 0;
}

h1 {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 100px;
    color: #9C6644;
}

h2, h3, h4{
    font-family: 'Mochiy Pop P One', sans-serif;
}

#searchbar {
    background-color: #7f5539;
    border-color: #e6ccb2;
    border-radius: 10px;
    border-style: double;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row{
    font-family: 'Mochiy Pop P One', sans-serif;
}

input {
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #9C6644;
}

button {
    font-family: 'Mochiy Pop P One', sans-serif;
    color: #9C6644;
}

#remove-coffee-btn {
    color: black;
    background-image: linear-gradient(to right, whitesmoke, #9C6644);
}

#submit, #add-coffee-btn {
    background-image: linear-gradient(to right, dodgerblue, #17a2b8);
}

#add-coffee-name, #adding-roast-selection {
    font-family: 'Mochiy Pop P One', sans-serif;
}

.coffee-list {
    background-color: whitesmoke;
    border-radius: 10px;
}

.coffee-item {
    border-bottom: 1px solid lightgray;
}


/*Fade Animation*/
.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }}

/*.coffee-name-header {*/
/*   */
/*}*/

/*.coffee-roast-header {*/

/*}*/